#container {
    position: absolute;
    left: 50%;
    width: 700px;
    margin-left: -375px;
    border: 2px solid black;
}

#header {
    height: 100px;
    background-color: red;
    text-align: center;
    padding: 5px;
}

#navigation {
    height: 35px;
    background-color: orange;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-family: Arial;
}

#content {
    background-color: green;
}

#footer {
    height: 50px;
    background-color: yellow;
    text-align: right;
    font-size: 15px;
    padding: 5px;
}

body {
    background-image: url("128-193.jpg");
    background-repeat: repeat;
}

h1 {
    font-family: Arial;
    font-size: 50px;
    display: inline;
}

.logoBig {
    font-family: Wingdings;
    font-size: 75px;
}

.logoSmall {
    font-family: Wingdings;
    font-size: 25px;
}

#navigation a:link, #navigation a:visited {
    text-decoration: none;
    background-color: darkorange;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 2px;
    padding-bottom: 5px;
}

#navigation a:hover {
    text-decoration: none;
    background-color: yellow;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.ContentBoxAll {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}

.ContentBoxBig {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 60%;
}

.ContentBoxSmall {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 35%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatClear {
    clear: both;
}

h2 {
    font-family: Arial;
    font-size: 30px;
    margin: 0px;
    margin-top: 10px;
}

.circle {
    border-radius: 175px;
}